/* Reset and Body */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Utility Classes */
.bg-dark {
  background: #333;
  color: white;
}

.bg-primary {
  background: rgb(7, 134, 238);
  color: white;
}

.bg-secondary {
  background: rgb(35, 34, 90);
  color: white;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

/* Navbar */
#main-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar {
  min-width: 100%;
  display: flex;
  align-items: stretch;
}

.navbar .nav-btn {
  padding: 10px 20px;
  text-decoration: none;
  color: #ddd;
  font-size: 18px;
  height: 45px;
}

.navbar .nav-btn:hover {
  background: #444;
  text-decoration: #ddd underline;
}

.wrapper {
  min-width: fit-content;
}

.flex-container {
  margin-top: 45px;
  display: flex;
  min-height: 90vh;
}

/* Sidebar */
.sidemenu {
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidemenu .menu-container {
  flex: 1;
  width: 90%;
  padding-top: 10px;
  text-align: center;
}

/* Styles for the side description bar (replaces the side menu) */
.sidedesc {
  display: none;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 300px;
  padding: 1rem;
}

.sidedesc h2 {
  text-decoration: underline;
  margin-bottom: 2rem;
  text-align: center;
}

.sidedesc p {
  margin-bottom: 10px;
}

/* Each description is initially hidden */
.sidedesc .linear-desc {
  display: none;
}

.sidedesc .binary-desc {
  display: none;
}

.sidedesc .jump-desc {
  display: none;
}

.sidedesc .interpolation-desc {
  display: none;
}

.sidedesc .exponential-desc {
  display: none;
}

.sidedesc #back {
  display: block;
  width: 70%;
}

/* Menu Boxes */
.menu-box {
  background: rgb(52, 51, 129);
  border-radius: 5px;
}

.menu-btn {
  padding: 10px;
  font-weight: bold;
  cursor: default;
}

.menu-btn:hover {
  background: rgb(66, 65, 160);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.menu-dropdown {
  display: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.menu-dropdown .menu-option:hover {
  background: rgb(66, 65, 160);
}

.menu-dropdown .menu-option {
  padding: 5px;
}

.menu-dropdown .menu-option:last-child:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.menu-box:hover > .menu-dropdown {
  display: block;
}

/* Menu Submit */
.menu-submit {
  background: rgb(52, 51, 129);
  width: 90%;
  color: white;
  font-weight: bold;
  margin: 10px 0;
  outline: none;
  cursor: pointer;
}

.menu-submit:hover {
  background: rgb(66, 65, 160);
}

.menu-submit:active {
  cursor: default;
}

/* Sorting Area */
#searching-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  background: #f4f4f4;
  padding: 20px;
}

#searching-area .select-prompt {
  background: rgb(35, 218, 65);
  padding: 5px 20px;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  display: none;
}

.searching-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-width: 100%;
  height: 100%;
}

.searching-container .bar {
  flex: 1;
  background: #aaa;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

/* Footer */
.footer {
  height: 5vh;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

/* Phones and Tablets */
@media (max-width: 768px) {
  .navbar {
    width: 100%;
  }

  .flex-container {
    flex-direction: column;
    justify-content: flex-start;
    min-width: fit-content;
  }

  /* Bring sidebar to the top */
  .sidemenu {
    width: 100%;
    justify-content: flex-start;
  }

  /* Bring side description to the top */
  .sidedesc {
    width: 100%;
  }

  .sidemenu .menu-container {
    flex: none;
  }

  .sidemenu .menu-submit {
    margin-top: 10px;
  }

  .navbar .nav-btn {
    padding: 10px 10px;
  }
}
